{% extends "base.html" %}
{% block body %}    
<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css" />



<div class="container">
   <div class="row">
      <div class="col-md-4">
           <button  class="btn btn-primary btn-lg btn-block"  data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-user"></span>  新加
           </button>
      </div>
      <div class="col-md-4">
           <button  class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-th"></span>    修改
           </button>
      </div>
      <div class="col-md-4">
	  <button  class="btn btn-primary btn-lg btn-block" id="re_send_selected" disabled>
        <span class="glyphicon glyphicon-minus"></span> 删除
           </button>
      </div>



   </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div   class="modal-dialog" style="width:400px">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              新增加用户 
            </h4>
         </div>
         <div class="modal-body">
<form class="form-inline">
 <table class="table table-bordered">
   <tbody>
    <tr>
      <td>
         <div class="form-group has-success has-feedback">
            <label class="control-label">用户</label>
         </div>
      </td>
      <td>  
         <input type="text" class="form-control" id="user" > 
      </td>
    </tr>

    <tr>
      <td> 
           <div class="form-group">
           <label class="control-label" >密码</label>
           </div>
      </td>
      <td>
           <div class="">
           <input type="password" class="form-control" id="passwd">
           </div>
      </td>
   </tr>
    <tr>
      <td>
           <label class="control-label" >密码确认</label>
      </td>                                                                                                         
      <td>                                                                                                          
           <input type="password" class="form-control" id="passwd2" >                   
       <div class="hide" > <blockquote>两次密码不一致</blockquote> </div>
      </td>
   </tr>
    <tr>
      <td>
         <div class="form-group has-success has-feedback">
            <label class="control-label" >部门</label>
         </div>
      </td>
      <td>
              <select id="sele" class="form-control">
                <option value ="1">资源研发组</option>
                <option value ="2">用户中心</option>
                <option value ="3">运营研发</option>
                <option value ="4">运维中心</option>
                <option value ="5">书城研发</option>
                <option value ="6">BI数据部</option>
              </select>
      </td>
    </tr>
    <tr>
      <td>
         <div class="form-group has-success has-feedback">
            <label class="control-label" >权限</label>
         </div>
      </td>
      <td>
        <div>
         <label class="checkbox-inline">
            <input type="radio" name="optionsRadiosinline"   value="root" >root
         </label>
         <label class="checkbox-inline">
            <input type="radio" name="optionsRadiosinline"   value="web" checked>web
         </label>
         <label class="checkbox-inline">
            <input type="radio" name="optionsRadiosinline"   value="user" >普通用户
         </label>
        </div>
      </td>
    </tr>
    <tr>


    <tr>
      <td>
         <div class="form-group has-success has-feedback">
            <label class="control-label" >邮箱</label>
         </div>
      </td>
      <td>
         <input type="text" class="form-control" id="email">
      </td>
    </tr>
    <tr>
      <td>
         <div class="form-group has-success has-feedback">
            <label class="control-label" >手机</label>
         </div>
      </td>
      <td>
         <input type="text" class="form-control" id="tel">
      </td>
    </tr>


  </tbody>
 </table>
</form>

         </div>
         <div class="modal-footer">
            <input id="setting_btn2" type="button" class="btn btn-success" value="提交">
            <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>







<div class="container">
<table id="table" data-toggle="table"
       data-url="/invited.json"
       data-click-to-select="true"
       data-row-style="rowStyle"
       data-query-params="queryParams"
       data-pagination="true"
       data-search="true"
       data-height="600">
    <thead>

    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="id">ID</th>
        <th data-field="invited_name">用户</th>
        <th data-field="invited_phone">邮箱</th>
        <th data-field="invited_email">手机</th>
        <th data-field="inviter_name">部门</th>
        <th data-field="inviter_org">账号创建时间</th>
        <th data-field="invite_time">开通ssh权限</th>
        <th data-field="status">邀请状态</th>
        <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">操作</th>
    </tr>
    </thead>
</table>
</div>
<script src="/static/js/bootstrap-table.min.js"></script>                                                                   
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script>
    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (row.status == "未接受邀请") {
            return {
                classes: 'warning'
            };
        }

        if (row.status == "程序错误，发送邀请未成功") {
            return {
                classes: 'danger'
            };
        }
        return {};
    }
    function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 100,
            page: 1
        };
    }

    var $table = $('#table'), $remove = $('#re_send_selected');

    $(function () {
        $table.on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
        });
        $remove.click(function () {
            var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            });
            alert('重新发送选中邀请, rows: ' + ids);
            $remove.prop('disabled', true);
        });
    });


    function actionFormatter(value, row, index) {
        return [
            '<button class="btn btn-primary resend">重新发送邀请</button>'
        ].join('');
    }

    window.actionEvents = {
        'click .resend': function (e, value, row, index) {
            alert('重新发送该邀请, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        }
    };

</script>

{% end %}
